html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*:before,*:after{
	box-sizing: border-box;
}

img{
	max-width: 100%;
}

/* Latout Start */

body{
	font-family: Microsoft JhengHei;
}

a{
	text-decoration: none;
}

h3, h4, p{
	color: #3d1101;
}

h3{
	font-size: 1.3em;
	line-height: 2em;
	width: 100%;
	text-align: center;
}

h4{
	font-size: 1.1em;
}

p{
	line-height: 1.4em;
}

input:focus{
	box-shadow: 0 0 3px #3d1101 !important;
}

.wrap{
	max-width: 960px;
	margin: 0 auto;
}

/* Banner */

.banner{
	position: relative;
}

.header{
	background: rgba(0, 0, 0, 0.5);
	height: 50px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	display: flex;
	justify-content: space-between;
}

.header h1 a{
	display: block;
	width: 120px;
	height: 24px;
	margin: 10% 25%;
	background: url(../images/logo_w@svg.svg);
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
}

.menu{
	display: flex;
	justify-content: space-around;
	width: 25%;
}

.menu li{
	width: 33.3333%;
}

.menu li a, .banner_slogan h2, .banner_slogan p{
	color: #fff;
	text-align: center;
}

.menu li a{
	display: block;
	line-height: 50px;
	width: 100%;
}

.menu li a:hover{
	background: rgba(100, 100, 100, 0.5);
}

.showmenu{
	display: none;
	position: absolute;
	top: 30%;
	right: 5%;
	width: 5%;
	height: 40%;
}

.banner_slogan{
	position: absolute;
	top: 110px;
	left: 28%;
	background: rgba(0, 0, 0, 0.5);
	width: 43%;
	height: 150px;
	z-index: 3;
	padding: 1.5em;
}

.banner_slogan h2{
	font-size: 1.7em;
	margin-bottom: 6%;
}

.banner_slogan p{
	line-height: 24px;
}

.fas{
	display: block;
}

.fas span{
	font-family: Microsoft JhengHei;
	font-weight: normal;
}

.fa-utensils:before{
	margin-right: 0.3em;
}

.fa-utensils:after{
	margin-left: 0.3em;
}

.banner img{
	z-index: 1;
}

.header_mobile{
	display: none;
}

@media (max-width: 768px){
	.banner_slogan{
		top: 90px;
	}
	
	.banner_slogan h2{
		font-size: 1.5em;
	}
}

@media (max-width: 767px){

	.showmenu{
		display: block;
	}

	.header{
		position: fixed;
	}

	.header .menu{
		display: block;
		max-height: 0px;
		overflow: hidden;
		transition: max-height 1s;
		z-index: 999;
		position: absolute;
		top: 50px;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.5);
		width: 100%;
	}

	.menu li{
		width: 100%;
	}

	.menu li a{
		border-top: 1px dotted #fff;
		transition: all 0.3s;
		text-align: center;
		font-size: 1em;
	}

	.menu li a:hover{
		background: rgba(100, 100, 100, 0.5);
		font-weight: bold;
	}

	.header_desktop{
		display: none;
	}

	.header_mobile{
		display: block;
	}

	.banner_slogan{
		display: none;
	}
}

.menushow .menu{
	max-height: 200px;
}

/* Footer */

.footer{
	background: #efe9e7;
	padding: 2.5em;
	display: flex;
}

.footer h3{
	font-size: 1.2em;
	margin-bottom: 1em;
}

.about, .contact{
	width: 30%;
}

.about{
	margin-right: 3%;
}

.about p, .contact li{
	line-height: 20px;
}

.contact{
	margin-right: 9%;
}

.contact ul li{
	list-style:disc;
}

.social{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.social img{
	margin-bottom: 1em;
}

.social ul{
	display: flex;
}

.social ul li a{
	display: block;
	height: 25px;
	width: 25px;
	margin-left: 0.5em;
}

@media (max-width: 768px){
	.footer{
		justify-content: space-between;
	}

	.about{
		display: none;
	}

	.contact{
		margin-left: 2%;
	}

	.social ul li a{
		width: 40px;
		height: 40px;
		margin-left: 0.8em;
	}

	.social ul li a img{
		width: 40px;
	}
}

@media (max-width: 767px){
	.contact{
		display: none;
	}

	.footer{
		padding: 1.5em;
		justify-content: center;
	}

	.social{
		align-items: center
	}
}

/* Latout End */


/* Index */

.intro{
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #efe9e7;
}

.intro_title{
	display: flex;
	width: 45%;
}

.intro_title .line{
	width: 25%;
	height: 65px;
	border-bottom: 1px solid #979797;
}

.intro_title h3{
	font-size: 1.2em;
	margin: 2em 2.5% 1.5em 2.5%;
	line-height: 28px;
}

.intro_info{
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	margin-bottom: 2em;
}

.intro_info li{
	width: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.intro_info li h4{
	margin: 1em 0;
}

@media (max-width: 768px){
	.intro_title{
		width: 50%;
	}

	.intro_title .line{
		width: 22%;
	}

	.intro_info .ipad_close{
		display: none;
	}

	.intro_info li{
		width: 40%;
	}
}

@media (max-width: 767px){

	.intro_title{
		width: 100%;
	}

	.intro_title .line{
		display: none;
	}

	.intro_title h3{
		width: 100%;
		font-weight: bold;
	}

	.intro_info{
		flex-direction: column;
		align-items: center;
	}

	.intro_info .ipad_close{
		display: flex;
	}

	.intro_info li{
		width: 70%;
		margin-bottom: 2em;
	}

}

.chef{
	display: flex;
	background: #3d1101;
	justify-content: space-evenly;
}

.chef_info{
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.chef_info h3, .chef_info p{
	color: #fff;
}

.chef_info h3{
	text-align: left;
}

.chef_name{
	margin-bottom: 1em;
}

@media (max-width: 768px){
	.chef img{
		width: 50%;
	}

	.chef_info{
		margin: 1.5em 0;
	}
}

@media (max-width: 767px){
	.chef{
		display: block;
	}

	.chef img{
		width: 100%;
	}

	.chef_info{
		width: 80%;
		margin: 1.5em 10% 0 10%;
	}

	.chef_info p{
		margin-bottom: 2em;
	}
}

.comments{
	background: #efe9e7;
	padding: 2em 0;
}

.comments h3{
	margin-bottom: 2em;
}

.comments ul{
	display: flex;
	justify-content: space-evenly;
}

.comments ul li{
	display: flex;
	justify-content: space-between;
	width: 30%;
}

.comments ul li img{
	width: 67px;
	height: 67px;
}

.comments_detail{
	width: 72%;
}

.name{
	font-size: 18px;
}

.detail{
	margin: 1em 0;
}

.jodtitle{
	text-align: right;
	color: #7c5e52;
}

@media (max-width: 768px){
	.comments .ipad_close{
		display: none;
	}

	.comments ul li{
		width: 40%;
	}
}

@media (max-width: 767px){
	.comments h3{
		font-weight: bold;
	}

	.comments ul{
		display: block;
	}

	.comments ul li{
		width: 80%;
		margin: 0 10% 2em 10%;
	}

	.comments .ipad_close{
		display: flex;
	}
}

@media (max-width: 320px){
	.comments ul li{
		width: 85%;
		margin: 0 7.5% 2em 7.5%;
	}
}

.reserve{
	padding: 2.5em 0;
	background: #f6f4f3;
}

.reserve h3{
	margin-bottom: 1.5em;
	line-height: 1.4em;
	color: #3d1101;
}

.reserve_form{
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: 0 5%;
}

form{
	width: 44%;
}

.form{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 388px;
}

.form label{
	color: #3d1101;
	font-size: 15px;
}

.text input{
	width: 100%;
	border-radius: 5px;
	font-family: Microsoft JhengHei;
	border: 1px solid #cccccc;
	margin-top: 0.5em;
	padding: 7px 15px;
	font-size: 16px;
}

#veg{
	margin-top: 1em;
}

.submit{
	display: flex;
	justify-content: flex-end;
}

.button_submit{
	margin-left: 1em;
}

@media (max-width: 768px){
	.reserve_form img{
		width: 52%;
	}
}

@media (max-width: 767px){
	.reserve_form img{
		display: none;
	}

	form{
		width: 100%;
	}	
}

/* Content */

.content{
	background: #efe9e7;
}

/* Cart */

.shop{
	display: flex;
	justify-content: space-between;
	padding: 2.5em 2.5em 0 2.5em;
}

@media (max-width: 768px){
	.shop{
		padding: 1.5em 1.5em 0 1.5em;
	}
}

@media (max-width: 767px){
	.shop{
		display: block;
	}
}

.shop_list{
	width: 25%;
}

.shop_list h3{
	text-align: left;
	margin-bottom: 1.5em;
}

.shop_list span{
	font-family: Microsoft JhengHei;
	font-weight: normal;
}

.shop_list h3:before{
	margin-right: 0.3em;
	font-size: 1.5em;
}

.shop_list a{
	display: block;
	width: 100%;
	padding: 0.7em;
	color: #3d1101;
	border-bottom: 1px solid #3d1101;
}

.shop_list a:hover, .shop_list a.active{
	background: #3d1101;
	color: #fff;
}

@media (max-width: 768px){
	.shop_list{
		width: 22%;
	}

	.shop_list h3{
		margin-bottom: 1em;
	}

	.shop_list h3:before{
		margin-right: 0.1em;
		font-size: 1.3em;
	}
}

@media (max-width: 767px){
	.shop_list{
		width: 100%;
	}

	.shop_list h3:before{
		margin-right: 0.5em;
	}

	.shop_list ul{
		display: flex;
		flex-wrap: wrap;
	}

	.shop_list ul li{
		width: 50%;
	}

	.shop_list a{
		display: block;
		width: 100%;
		color: #fff;
		background: #3d1101;
		border: 1px solid #efe9e7;
		text-align: center;
	}

	.shop_list a:hover{
		background: #f56c23;
		color: #3d1101;
	}
}

@media (max-width: 320px){
	.shop_list a{
		font-size: 0.9em;
	}
}

.shop_main{
	width: 70%;
}

.search_cart{
	display: flex;
	justify-content: space-between;
}

.search{
	display: flex;
	width: 70%;
}

.search input{
	width: 90%;
	border: 2px solid #3d1101;
	font-size: 16px;
	padding: 7px 15px;
	font-family: Microsoft JhengHei;
}

.search a{
	display: block;
	background: #3d1101;
	color: #fff;
	font-size: 1.2em;
	line-height: 39px;
	padding: 0 10px;
}

.ckeckout{
	display: block;
	color: #3d1101;
	line-height: 39px;
}

.ckeckout span{
	padding-right: 1em;
	border-right: 1px solid #3d1101;
	margin: 0.5em;
	font-family: Microsoft JhengHei !important;
}

.ckeckout:after{
	font-size: 30px;
	padding: 0 0.5em;
}

@media (max-width: 768px){
	.shop_main{
		width: 75%;
	}
}

@media (max-width: 767px){
	.shop_main{
		width: 100%;
	}

	.search{
		display: none;
	}

	.search_cart{
		justify-content: flex-end;
	}

	.ckeckout{
		margin-top: 1em;
	}
}

.product{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 1.5em;
}

.product li{
	width: 31%;
	height: 240px;
	box-shadow: 2px 2px 3px gray;
	margin-bottom: 2em;
}

.product_top{
	position: relative;
	width: 100%;
	height: 35%;
}

.heart1, .heart2, .heart3, .heart4{
	color: #fff;
	font-size: 1.3em;
	position: absolute;
	top: 0.5em;
	left: 0.6em;
	z-index: 30;
}


.product_top .product_img{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.hot{
	position: absolute;
	top: -5px;
	right: -3.5%;
	width: 40%;
	z-index: 30;
}

.product_bottom{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.product_bottom h3{
	line-height: 1.7em;
}

.product_bottom .product_name{
	font-size: 0.7em;
}

.product_bottom .borderbottom{
	width: 50%;
	border-bottom: 1px solid #3d1101;
	padding-top: 0.5em;
	margin-bottom: 1.3em;
}

.price{
	display: flex;
	align-items: center;
	margin-bottom: 0.8em;
}

.price p{
	font-family: Microsoft JhengHei;
	font-size: 1.2em;
	margin-left: 0.2em;
	font-weight: bold;
}

.absolute_icon{
	width: 100%;
	position: relative;
}

.absolute_icon:before{
	font-family: "Font Awesome 5 Free"; 
	font-weight: 900; 
	position: absolute;
}

.addtocart:before{
 	content: "\f07a";
	font-size: 1em;
	left: 23%;
	top: 28%;
	color: #f56c23;
}

@media (max-width: 768px){
	.addtocart:before{
		left: 20%;
	}
}

@media (max-width: 767px){

	.product{
		justify-content: center;
	}

	.product li{
		width: 82%;
		height: 330px;
		box-shadow: 2px 2px 3px gray;
		margin-bottom: 2em;
	}

	.product_top{
		height: 40%;
	}

	.heart1, .heart2, .heart3, .heart4{
		font-size: 2em;
	}

	.product_bottom .product_name{
		font-size: 1em;
	}

	.product_bottom .borderbottom{
		padding-top: 1em;
		margin-bottom: 0.5em;
	}

	.product_bottom span{
		font-size: 1.5em;
	}

	.price{
		margin-bottom: 0.5em;
	}

	.addtocart:before{
		font-size: 1.2em;
		left: 25%;
		top: 30%;
	}
}

@media (max-width: 320px){

	.product li{
		width: 100%;
	}
}

/* Login */

.form_login{
	max-width: 375px;
	margin: 0 auto;
	padding: 2em 0;
}

.form_title{
	text-align: center;
	margin-bottom: 0.3em;
}

.form_title img{
	max-width: 240px;
	height: auto;
}

.form_text{
	font-weight: bold;
	text-align: center;
	margin-bottom: 1.5em;
}

.form-stacked{
	box-shadow: 2px 2px 5px gray;
	width: 80%;
	margin: 0 10%;
	border-top: 3px solid #f56c23;
	padding: 1em;
}

.form-stacked legend{
	text-align: center;
	font-weight: bold;
}

.login_text{
	margin-top: 1.5em;
}

.icon_input:before{
	font-size: 1.2em;
	color: #9b9796;
}

.icon_email1:before{
	content: "\f0e0";
	left: -46%;
	top: 65%;
}

.icon_password1:before{
	content: "\f023";
	left: -26%;
	top: 65%;
}

.form-stacked .text{
	width: 100%;
	border-radius: 5px;
	font-family: Microsoft JhengHei;
	border: 1px solid #cccccc;
	margin-top: 0.5em;
	padding: 7px 15px 7px 40px;
	font-size: 16px;
}

.form-stacked .button{
	display: flex;
	margin-top: 2em;
}

.form-stacked .button a{
	display: block;
	width: 45%;
	margin-right: 10%;
}

@media (max-width: 767px){
	.form-stacked{
		width: 90%;
		margin: 0 5%;
	}
}

@media (max-width: 320px){
	.icon_email1:before{
		left: -61%;
	}

	.icon_password1:before{
		left: -34%;
	}
}

/* Register */

.form_register{
	max-width: 550px;
	margin: 0 auto;
	padding: 2em 0;
}

.form-stacked{
	width: 100%;
	margin: 0;
}

.register_main{
	display: flex;
	justify-content: space-between;
}

.terms{
	width: 47.5%;
}

.register_right{
	width: 47.5%;
}

.register-stacked .text{
	width: 100%;
}

.terms{
	margin-top: 1.5em;
}

.terms h4{
	margin-bottom: 0.5em;
}

.terms p{
	font-size: 0.9em;
}

.icon_email2:before{
	content: "\f0e0";
	left: -80%;
	top: 65%;
}

.icon_password2:before{
	content: "\f023";
	left: -42%;
	top: 65%;
}

.icon_password3:before{
	content: "\f023";
	left: 6%;
	top: 5%;
}

@media (max-width: 767px){

	.form_register{
		width: 90%;
	}

	.register_main{
		display: block;
	}

	.terms{
		width: 100%;
	}

	.register_right{
		width: 100%;
	}

	.icon_email2:before{
		left: -55%;
	}

	.icon_password2:before{
		left: -31%;
	}

	.icon_password3:before{
		left: 5%;
	}
}

@media (max-width: 320px){
	.icon_email2:before{
		left: -75%;
	}

	.icon_password2:before{
		left: -39%;
	}

	.icon_password3:before{
		left: 6%;
	}
}
